/* components */

.btn {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.btn:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
  transition: all 0.1s ease;
}

.btn:focus {
  outline: none;
}

/* general classes */

.flex-center-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-vertically {
  display: flex;
  align-items: center;
}

.flex-center-horizontally {
  display: flex;
  justify-content: center;
}
