@import './base.css';
@import './classes.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  overflow:hidden;
}
#app {
  min-height: 100vh;
  max-height: 100dvh;
  padding-top: env(safe-area-inset-top, 0);
  overflow: hidden;
}

body {
  background-color: #6c7686;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
